@using PortfolioWebsite.Models

<MudDialog>
    <DialogContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            <MudGrid>
                <MudItem xs="12">
                    <div class="experience-header">
                        <MudIcon Icon="@Experience.Icon" Color="Color.Primary" Size="Size.Large" Class="mr-3" />
                        <div class="experience-info">
                            <MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-1">
                                @Experience.Title
                            </MudText>
                            <MudText Typo="Typo.h6" Class="mb-1">
                                @Experience.Company
                            </MudText>
                            <MudChip Color="Color.Secondary" Size="Size.Small">
                                @Experience.Period
                            </MudChip>
                        </div>
                    </div>
                </MudItem>
                
                <MudItem xs="12">
                    <MudDivider Class="my-4" />
                    
                    <MudText Typo="Typo.body1" Class="mb-4">
                        @Experience.Description
                    </MudText>
                    
                    @if (Experience.Achievements.Any())
                    {
                        <MudText Typo="Typo.h6" Color="Color.Primary" Class="mb-3">
                            Key Achievements & Responsibilities:
                        </MudText>
                        
                        <MudList>
                            @foreach (var achievement in Experience.Achievements)
                            {
                                <MudListItem>
                                    <MudIcon Icon="@Icons.Material.Filled.CheckCircle" 
                                            Color="Color.Success" 
                                            Size="Size.Small" 
                                            Class="mr-2" />
                                    <MudText Typo="Typo.body2">@achievement</MudText>
                                </MudListItem>
                            }
                        </MudList>
                    }
                </MudItem>
            </MudGrid>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = default!;
    
    [Parameter] public Experience Experience { get; set; } = new();

    private void Cancel() => MudDialog.Cancel();
}


